{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Delete the Task{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'tdl:index' %}">Tasks</a></li>
  <li class="breadcrumb-item active">Delete Task</li>
{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    <p>Are you sure you want to delete "{{ task.name }}"?</p>
    <button type="submit" class="btn btn-success" id="id_deleteTask">Confirm</button> 
  </form>
{% endblock %}
